
/*Barra de navegacion*/
.header__menu
{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.menu
{
    width: 40px;
    height: 40px;
    background-image: url(/assets/menu/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}
.menu__colapsed
{
    position: absolute;
    top: -100px;
    display: flex;/*Cambio con none para ocultar y flex para ver*/
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: auto;
    transition: top 0.5s;
}
.menu__colapsed > li > a
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.menu__colapsed > li > a:hover
{
    color: black;
}
.menu__colapsed--item
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    height: 50px;
}
.menu__colapsed--item:hover
{
    background-color: white;
    border: 2px solid black;
}
.last
{
    margin-bottom: 10px;
}
.close
{
    width: 30px;
    height: 30px;
    margin: 10px;
    background-image: url(/assets/Menu/close.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper
{
    width: 100vw;
}
/*Seccion de Información*/
.info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}
.info__name
{
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    width: 100%;
    margin: 0px 20px;
    word-wrap: break-word;

}
.info__social
{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.social__item
{
    width: 2rem;
    height: 2rem;
    margin: 7px 7px 7px 7px;
}
.telegram
{
    background-image: url(/assets/Redes/telegram.png);
}
.whatsapp
{
    background-image: url(/assets/Redes/whatsapp.png);
}
.github
{
    background-image: url(/assets/Redes/github.png);
}
.instagram
{
    background-image: url(/assets/Redes/instagram.png);
}
.linkedin
{
    background-image: url(/assets/Redes/linkedin.png);
}
.telegram, .whatsapp, .github, .instagram, .linkedin
{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Seccion de Resumen*/
.resume
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.resume__element
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 320px;
    max-width: 750px;
}
.resume__element > h2
{
    width: 100%;
    color: var(--yellow);
    font-size: 40px;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    margin: 40px 0px 10px 40px;
}
.resume__element > p
{
    width: calc(100vw - 40px);
    background: var(--blue);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: white;
    text-align: justify;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.resume__photo
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(/assets/Hugo/FotoHACL1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0px;
}

/*Seccion Sobre mi*/
.about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
    background-color: rgb(0, 0, 0);
    margin: 40px 0px;
}
.about > h2
{
    width: 100vw;
    color: white;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
    margin: 0 0 40px 0;
}
.slide__about
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.arrowRight
{
    background-image: url(/assets/Slide/right-arow.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.arrowLeft
{
    background-image: url(/assets/Slide/right-arow.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}
.arrowLeft, .arrowRight
{
    position: relative;
    top: 130px;
    width: 40px;
    height: 40px;
}
.wrap
{
    display: flex;
    justify-content: flex-start;
    width: calc(90vw - 80px);
    overflow: hidden;
}
.internalWrap
{
    display: flex;
    margin-left: -210px;
}
/*Contenedor de tarjetas de items*/
.wrapTarjet
{
    position: relative;
    flex-shrink: 0;
    width: 200px;
    height: 300px;
    margin: 10px 10px 10px 1px;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
}
.tarjet
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    left: -50px;
    width: 300px;
    height: 300px;
}
.tarjet > p
{
    width: 200px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.study
{
    background-image: url(/assets/Slide/estudios.jpg);
}
.skill
{
    background-image: url(/assets/Slide/habilidades.jpg);
}
.langu
{
    background-image: url(/assets/Slide/idiomas.jpg);
}
.compEst
{
    background-image: url(/assets/Slide/certAdicionales.jpg);
}
.experiencia
{
    background-image: url(/assets/Slide/experiencia.jpg);
}
.proyectos
{
    background-image: url(/assets/Slide/proyectos.jpg);
}
.study, .skill, .langu, .compEst, .experiencia, .proyectos
{
    background-repeat: no-repeat;
    background-size: cover;
}
/*Seccion de Estudios*/
.degrees
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin-bottom: 50px;
}
.degree__title
{
    width: 100vw;
}
.degree__title > h2
{
    width: 100%;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    margin: 30px 0px;
}
.degree__tarjet
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90vw;
    height: 170px;
    padding: 20px;
    margin: 20px 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: -1px 8px 13px -1px rgba(0,0,0,0.73);
    -webkit-box-shadow: -1px 8px 13px -1px rgba(0,0,0,0.73);
    -moz-box-shadow: -1px 8px 13px -1px rgba(0,0,0,0.73);
}
.degree__tarjet > h3
{
    width: 100%;
    color: var(--darkblue);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}
.degree__tarjet > p
{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
}
.degree__tarjet > p:last-child
{
    font-weight: 600;
}
/*Seccion de Habilidades*/
.skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 320px;
}
.skills__title
{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 40px;
}
.skills__title > h2
{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: black;
}
.skills__tarjet
{
    position: relative;
    width: 90vw;
    margin: 40px 10px 20px 10px;
    padding: 40px 20px 20px 20px;
    background-color: var(--darkblue);
    border-radius: 15px;
}
.tarjet__title
{
    position: absolute;
    top: -25px;
    left: calc(50% - (90%/2));
    width: 90%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}
.tarjet__title > p
{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.skills__item
{
    width: 100%;
    margin: 10px 0px 0px 0px;
}
.skills__item > h3
{
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px 10px;
}
.item__cont
{
    position: relative;
    display: flex;
    width: 100%;
}
.skills__item__prog, .progressVar
{
    width: 100%;
    height: 20px;
    border-radius: 10px;
}
.skills__item__prog
{
    
}
.progressVar
{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
}
/** Clases para cambiar la barra de proceso**/
.percen--60, .percen--70, .percen--50, .percen--40
{
    background: rgb(255,248,0);
    background: linear-gradient(304deg, rgba(255,248,0,1) 0%, rgba(255,161,8,1) 50%, rgba(240,95,4,1) 100%);
}
.percen--60
{
    width: 60%;
}
.percen--70
{
    width: 70%;
}
.percen--50
{
    width: 50%;
}
.percen--40
{
    width: 40%;
}

/*Lenguaje*/
.lang
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 50px;
}
.lang__title
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 40px 0px;
}
.lang__title > h2
{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}
.lang__item
{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
    padding: 15px;
    box-shadow: -1px 8px 13px -1px rgba(0,0,0,0.73);
    -webkit-box-shadow: -1px 8px 13px -1px rgba(0,0,0,0.73);
    -moz-box-shadow: -1px 8px 13px -1px rgba(0,0,0,0.73);
}
.lang__item > h3
{
    color: var(--darkblue);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
}
.lang__item > p
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font: 400px;
}
.lang__item > h3, p
{
    width: 90%;
    margin: 5px 8px;
    text-align: center;
}
/*Seccion de Estudios complementarios*/
.certification
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}
.certification__title
{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 20px;
}
.certification__title > h2
{
    color: black;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 37px;
    text-align: center;
}
.certification--view, .certification--fCC, .certification--English
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
    border: 3px solid var(--darkblue);
    border-radius: 20px;
    margin: 15px 0;
}
.certification__title
{
    width: 70%;
    margin: 20px;
}
.certification__title > h3
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}
.certification__info, .certification__fCC, .certification__English
{
    display: none;/*Cambia entre none y visible*/
    width: 90%;
    margin-bottom: 20px;
    background-color: var(--blue);
    border-radius: 15px;
}
.info__wrapp
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.info__item
{
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: var(--ceilblue);
    margin-top: 20px;
    padding: 3px;
}
.info__item:last-child
{
    margin-bottom: 20px;
}
.info__item > p
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}
/*Seccion de Experiencia Laboral*/
.experience /*Seccion Contenedora item experiencia laboral*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
}
.experience__title
{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 40px 0px 40px 0px;
}
.experience__title > h2
{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
} 
/** Div de tarjeta */
.experience__tarjet /*Definimoslaspropiedades dela tarjeta de experiencias*/
{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.tarjet__info
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 750px;
    background-color: var(--darkblue);
    border-radius: 15px;
    padding: 40px 20px 20px 20px;
    margin: 30px 10px;
}
.tarjet__info > h3
{
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.tarjet__info > p
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.infoTitle
{
    position: absolute;
    top: -30px;
    left: 20px;
    width: 220px;
    border-radius: 15px;
    border:2px solid black;
    background-color: white;
    padding: 10px;
}
.infoTitle > p
{
    width: 100%;
    color: black;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
}

@media (min-width: 768px) {
    /*Seccion de Resumen sobre mi*/
    .resume__element
    {
        min-width: 80vw;
    }
    /*Seccion de estudios*/
    .degree__tarjet
    {
        width: 80vw;
    }

    /*Seccion de Habilidades*/
    .skills__tarjet
    {
        width: 65vw;
    }

    /*Seccion de certificados adicionales*/
    .certification--view
    {
        width: 80vw;
    }
    .certification--fCC
    {
        width: 80vw;
    }
    .certification--English
    {
        width: 80vw;
    }

    /*Seccion de experiencia laboral*/
    .experience__tarjet
    {
        width: 80%;
    }
    .tarjet__info
    {
        width: 100%;
        min-width: none;
        max-width: none;
    }
}

@media (min-width: 1023px){
    body{
        background-color: aquamarine;
    }
    
}