:root
{
	--darkblue: #22577E;
	--blue: #5584AC;
	--ceilblue: #95D1CC;
	--crem: #F6F2D4;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}
body
{
	width: 100vw;
}